<!DOCTYPE html>
<html>
<head>
    <title>Readify Outlook Signature</title>
    <meta charset="utf-8"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <style>
        #Header {
            background-color: #141b33;
            color: white;
        }

        #Header a {
            color: white;
            font-size: 26px;
        }

        #savePath {
            max-width: 400px;
            word-break: break-word;
        }

        .navbar-brand {
            background: url(https://labs.readify.net/Content/readify-device.png) no-repeat 15px 50%;
            padding-left: 60px;
            color: #fff;
            font-size: 24px;
            font-weight: 100;
        }
    </style>
</head>
<body>

<div>
    <div id="Header" class="col-md-12">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10" style="padding-left: 0px;">
                <a class="navbar-brand" href="http://kloudoutlooksignature.azurewebsites.net/">Readify Outlook
                    Signature</a>
            </div>
        </div>
        <div class="navbar-collapse collapse">

        </div>
    </div>
</div>
<div>

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div ng-app="app" class="ng-scope">

            <script>
              (function () {
                'use strict';
                angular.module('app', [
                  'ngAnimate',
                ]);
              })();

              (function () {
                'use strict';
                angular.module('app', ['ngSanitize'])
                  .controller('signatureController', ['$scope', '$sce', function ($scope) {
                    $scope.mobileFormat = function (mobileNum) {
                      if (mobileNum === undefined) return null;
                      var mobileFormatted = mobileNum.replace(/\s/g, '');
                      if (mobileFormatted.length === 10) {
                        var numberArr = mobileFormatted.split('');
                        numberArr.splice(4, 0, '&nbsp;');
                        numberArr.splice(8, 0, '&nbsp;');
                        return numberArr.join('');
                      }
                      else if( mobileNum.length === 11) {
                        var numberArr = mobileFormatted.split('');
                        numberArr.splice(0, 0, '+');
                        numberArr.splice(3, 0, '&nbsp;');
                        numberArr.splice(7, 0, '&nbsp;');
                        numberArr.splice(11, 0, '&nbsp;');
                        return numberArr.join('');
                      } else if( mobileNum.length === 12) {
                        var numberArr = mobileFormatted.split('');
                        numberArr.splice(3, 0, '&nbsp;');
                        numberArr.splice(7, 0, '&nbsp;');
                        numberArr.splice(11, 0, '&nbsp;');
                        return numberArr.join('');
                      }
                      else {
                        return mobileFormatted;
                      }
                    };

                    this.changedValue = function (item) {
                    };
                    this.savePath = function () {
                      return 'w';
                    };

                    this.getHtml = function () {
                      var html = $('#signatureContainer div').html();
                      return new Blob([html], { type: 'text/html' });
                    };

                    this.createLink = function (event) {
                      var a = $('#signatureDownload')[0];
                      a.download = $scope.signatureName + '.htm';
                      a.href = URL.createObjectURL(this.getHtml());
                      a.dataset.downloadurl = ['text/html', a.download, a.href].join(':');

                      this.copyToClipboard($('#savePath')[0]);

                      this.showLink = true;
                      event.preventDefault();
                      event.stopPropagation();
                    };

                    this.copyToClipboard = function (elem) {
                      // create hidden text element, if it doesn't already exist
                      var targetId = '_hiddenCopyText_';
                      var isInput = elem.tagName === 'INPUT' || elem.tagName === 'TEXTAREA';
                      var origSelectionStart, origSelectionEnd;
                      if (isInput) {
                        // can just use the original source element for the selection and copy
                        target = elem;
                        origSelectionStart = elem.selectionStart;
                        origSelectionEnd = elem.selectionEnd;
                      } else {
                        // must use a temporary form element for the selection and copy
                        target = document.getElementById(targetId);
                        if (!target) {
                          var target = document.createElement('textarea');
                          target.style.position = 'absolute';
                          target.style.left = '-9999px';
                          target.style.top = '0';
                          target.id = targetId;
                          document.body.appendChild(target);
                        }
                        target.textContent = elem.textContent;
                      }
                      // select the content
                      var currentFocus = document.activeElement;
                      target.focus();

                      target.setSelectionRange(0, target.value.length);

                      // copy the selection
                      var succeed;
                      try {
                        succeed = document.execCommand('copy');
                      } catch (e) {
                        succeed = false;
                      }
                      // restore original focus
                      if (currentFocus && typeof currentFocus.focus === 'function') {
                        currentFocus.focus();
                      }

                      if (isInput) {
                        // restore prior selection
                        elem.setSelectionRange(origSelectionStart, origSelectionEnd);
                      } else {
                        // clear temporary content
                        target.textContent = '';
                      }
                      return succeed;
                    };
                  }]);
              })();
            </script>
            <div ng-controller="signatureController as ctrl">
                <h3>Create your signature</h3>
                <ol>
                    <li>Enter the name of the signature.</li>
                    <li>Enter your details.</li>
                    <li>Click on create link. This will also copy the Save Path to your clipboard.</li>
                    <li>After you click 'Create Link', it will display the option to 'Right-click & Save As…' and paste
                        the save path from your clipboard. This will save the signature to the location where Outlook
                        signature's are saved.
                    </li>
                    <li>The signature will then automatically be added to your Outlook signature options.</li>
                </ol>
                <b>NOTE: changing any details of the signature will require you to create a new link.</b>
                <br/>
                <br/>
                <form>
                    <div class="form-group">
                        <div class="col-md-8">
                            <table class="table table-striped">
                                <tr>
                                    <td class="col-md-4"><span>Name of your signature:</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="signatureName"
                                                                placeholder="Readify Standard" style="width: 300px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><span>Your Name:</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="name"
                                                                placeholder="Graeme Strange" style="width: 300px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><span>Job Title:</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="title"
                                                                placeholder="Senior Consultant" style="width: 300px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><span>Email:</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="email"
                                                                placeholder="joe.bloggs@kloud.com.au"
                                                                style="width: 300px;"/></td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><span>Mobile:</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="mobile"
                                                                placeholder="+61 400 111 222" style="width: 300px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><span>Twitter: (Optional)</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="twitter"
                                                                placeholder="@myTwitter" style="width: 300px;"/></td>
                                </tr>
                                <tr>
                                    <td class="col-md-4"><span>Qualifications: (Optional)</span></td>
                                    <td class="col-md-4"><input class="form-control" ng-model="qualifications"
                                                                placeholder="Jedi Master | PSM I"
                                                                style="width: 300px;"/></td>
                                </tr>
                                <tr>
                                    <td id="tdsavePath" class="col-md-4"><span>Save Path:</span></td>
                                    <td class="col-md-4"><span id="savePath" class="form-control-plaintext"
                                                               ng-bind="'%APPDATA%\\Microsoft\\Signatures\\' + this.signatureName + '.htm'"/>
                                    </td>
                                </tr>
                            </table>
                            <button class="btn btn-primary" ng-click="ctrl.createLink($event);">Create Link</button>
                            <a id="signatureDownload" download="ReadifySignature.htm" ng-show="ctrl.showLink">Right
                                Click and Save As...</a>
                            <hr/>
                            <div id="signatureContainer" ng-include="'signature.html'" style="padding: 30px"></div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>