<div>
    <div>
        <table border=0 cellspacing=0 cellpadding=0 width="100%" style="color:#3D5567;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10.5pt;">
            <tr>
                <td valign=top style="border-right: 1px solid #3D5567;padding-right: 20px; width: 76px;">
                    <img width=73 height=53 src="https://s3-ap-southeast-2.amazonaws.com/readify-signatures/image001.png" alt="Readify a Telstra Company">
                </td>
                <td valign=top style="padding-left:20px;">
                    <p style="margin-bottom: 10px;">
                        <b><span ng-bind="name || 'Graeme Strange'"></span></b>
                        <br>Readify | <span ng-bind="title || 'Senior Consultant'"></span>
                    </p>
                    <p style="margin-bottom: 10px;" ng-if="qualifications" ng-bind="qualifications"><span ng-bind="qualifications"></span></p>
                    <p style="margin-bottom: 10px;">
                        <span class="white-space:nowrap;"><b>M</b>&nbsp;<span ng-bind-html="mobileFormat(mobile) || '+64 400 111 222'"></span>&nbsp;&nbsp;&nbsp; </span>
                        <span>
                                <b>E</b>&nbsp;<a ng-href="mailto:{{email || 'graeme.strange@readify.net'}}" ng-bind="email || 'graeme.strange@readify.net'"></a>&nbsp;&nbsp;&nbsp;
                            </span>
                        <span ng-if="twitter">
                                <b>T</b>&nbsp;<span ng-bind="twitter || '@mytwitter'"></span>&nbsp;&nbsp;&nbsp; 
                            </span>
                        <span>
                                <b>W</b>&nbsp;readify.net
                            </span>
                    </p>
                    <p>
                        <a style="display: inline-block; width:28px; height: 28px" href="https://readify.net/links/facebook">
                            <img width=28 height=28 src="https://s3-ap-southeast-2.amazonaws.com/readify-signatures/image002.png" alt="Readify on FaceBook">
                        </a>&nbsp;
                        <a style="display: inline-block; width:28px; height: 28px" href="https://readify.net/links/twitter">
                            <img width=28 height=28 src="https://s3-ap-southeast-2.amazonaws.com/readify-signatures/image003.png" alt="Readify on Twitter">
                        </a>&nbsp;
                        <a style="display: inline-block; width:28px; height: 28px" href="https://readify.net/links/linkedin" style="display: inline-block">
                            <img width=28 height=28 src="https://s3-ap-southeast-2.amazonaws.com/readify-signatures/image004.png" alt="Readify on LinkedIn">
                        </a>&nbsp;
                        <a style="display: inline-block; width:28px; height: 28px" href="https://readify.net/links/youtube" style="display: inline-block">
                            <img width=28 height=28 src="https://s3-ap-southeast-2.amazonaws.com/readify-signatures/image005.png" alt="Readify on YouTube">
                        </a>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>