.navbar {
  background-color: black;
  color: white;

  .navbar-brand {
    display: flex;
    justify-content: space-between;
    
    .brand-name, .username {
      margin-right: auto;
      color: white;
      font-size: 26px;
      font-weight: 200;
    }

    .login, .username {
      margin-left: auto;
    }
  }
}