.navbar {
  background-color: black;
  color: white;

  .navbar-brand {
    background: url(https://readifysignatures.blob.core.windows.net/images/purple-3.png) no-repeat 15px 50%;
    background-size: 30px;
    padding-left: 50px;

    a {
      color: white;
      font-size: 26px;
      font-weight: 200;
    }
  }
}