<configuration>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        
        <!--
          Note: we're not using X-Frame-Options because the app is embedded in a Telstra SharePoint page,
          and the header doesn't allow whitelisting of domains
          
          See https://teams.microsoft.com/l/message/19:1d2dd05be0ea403daef9ee22806d50ba@thread.skype/1574055965887?tenantId=413504eb-8622-47d2-aa72-ddbba4584471&groupId=dad1e0f7-a684-43fe-9ec2-8ca509628942&parentMessageId=1574055965887&teamName=Readifarians&channelName=Bench%20time&createdTime=1574055965887
        -->
        
        <!--
          See:
            - https://scotthelme.co.uk/a-new-security-header-referrer-policy/
            - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
        -->
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />

        <!--
          See:
            - https://scotthelme.co.uk/a-new-security-header-feature-policy/
            - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Feature-Policy
        -->
        <add name="Feature-Policy" value="geolocation 'none'; midi 'none'; payment 'none'; camera 'none'; usb 'none'; fullscreen 'none'; magnetometer 'none'; picture-in-picture 'none'; accelerometer 'none'; autoplay 'none'; document-domain 'none'; encrypted-media 'none'; gyroscope 'none'; xr-spatial-tracking 'none'; sync-xhr 'none'; microphone 'none';" />
        
        <!--
          See:
            - https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
            - https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy
            
          img-src:
            - readifysignatures.blob.core.windows.net: Purple logo in the signature
            
          connect-src:
            - login.microsoftonline.com: AAD login
        -->
        <add name="Content-Security-Policy-Report-Only" value="script-src 'self'; style-src 'self'; img-src 'self' readifysignatures.blob.core.windows.net; connect-src login.microsoftonline.com; report-uri https://telstrapurple.report-uri.com/r/d/csp/reportOnly" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>