body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#Header {
  background-color: #141b33;
  color: white;
}

#Header a {
  color: white;
  font-size: 26px;
}

#savePath {
  max-width: 400px;
  word-break: break-word;
}

.navbar-brand {
  background: url(https://labs.readify.net/Content/readify-device.png) no-repeat 15px 50%;
  padding-left: 60px;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
}

.btn.btn-primary {
  transition: background-color 0.125s ease-in;
}

.btn.btn-success.fadeColor {
  min-width: 123px;
  background-color: #449d44;
  transition: background-color 0.125s ease-out;
}

.navbar-brand {
  font-weight: 200;
}
.btn {
  margin: 1rem 0.5rem;
}
.sig-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.sig-grid.row {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}